@media screen and (max-width:1199px) {
    .banner_content h1 {
        font-size: 3rem;
    }

    .banner_content h1 {
        font-size: 3rem;
        max-width: 50.625rem;
    }

    .service-item h4 {
        font-size: 1.2rem;
    }
    .banner.sub_banner .banner_content h1 {
    font-size: 2.5rem;
    max-width: 50.625rem;
}
}


@media screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }

    .footer-links,
    .footer-contact {
        padding-left: 2.75rem;
    }

    .footer-top h5 {
        font-size: 1.1rem;
        line-height: 1.4;
    }
  .sport-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
    .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: #10130f;
        transform: translateX(100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 2rem;
        width: 2rem;
    }

    .banner_content h1 {
        font-size: 2.5rem;
    }

    .footer-logo a {
        width: 13.625rem;
    }

    .footer-links,
    .footer-contact {
        padding-left: 1.75rem;
    }

    .footer-top h4 {
        font-size: 1.6rem;
    }

    .img_txt_content h3 {
        font-size: 1.8rem;
    }
.platform_img_outer {
    height: 25rem;
}
.platform_review_content {
    padding: 2rem 0 0 0;
    text-align: center;
}
.faq_img_outer {
    height: 25rem;
    margin-bottom: 1.5625rem;
}
.blog_desc_img {
    height: 30.25rem;
}

}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }


    .sub_banner {
        height: 30.875rem;
    }

    .banner_content p {
        font-size: 1.2rem;
    }

    .banner_wrap {
        margin-top: 4rem;
    }

    .banner_content h1 {
        font-size: 2rem;
        max-width: 40.625rem;
    }

    .banner {
        height: 40.875rem;
    }

    .footer-top {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo logo"
            "links contact";
    }

    .footer-logo {
        grid-area: logo;
    }

    .footer-links {
        grid-area: links;
    }

    .footer-contact {
        grid-area: contact;
    }

    .footer-links,
    .footer-contact {
        padding-left: 0;
        border-left: none;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 1.25rem;
        text-align: center;
    }

    .footer-logo a {
        margin-bottom: 0;
    }

    .img_txt_content {
        padding: 2rem 0 0 0;
    }

    .image_txt_img_outer {
        height: 25rem;
    }

    .service-item h4 {
        font-size: 1.1rem;
    }

    .section_heading {
        font-size: 2.2rem;

    }

    .py-5 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    .pages_brand_wrap {
    overflow-x: scroll;
}
.pages_brand_sec table {
    min-width: 50rem;
}
.platform_img_outer {
    height: 20rem;
}
.accordion-button, .accordion-button:not(.collapsed) {
    font-size: 1.3rem;
}
.banner.sub_banner.footer_banner {
    height: 35rem;
}
.footer-pages-wrap {
    padding: 1.25rem 0.625rem;
}
.about_img_txt_content {
    padding: 2rem 0.625rem  0 0;
}
.blog_desc h2 {
    font-size: 1.8rem;
}
}




@media screen and (max-width:575px) {
    .banner {
        height: 40.875rem;
    }

    .footer-top {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "links"
            "contact";
    }

    .brand-container a,
    .footer-logo a {
        width: 13.75rem;
    }

    .footer-links,
    .footer-contact {
        border-top: 1px solid rgb(192 147 66/30%);
        padding-top: 1.25rem;
    }

    .image_txt_img_outer {
        height: 20rem;
    }

    .img_txt_content p {
        font-size: 1rem;
    }

    .section_heading {
        font-size: 2rem;

    }

    .service-item h4 {
        font-size: 1.2rem;
    }

    .home_featured_img_outer {
        height: 23rem;
    }

    .newsletter-wrap p {
        font-size: 1.1rem;
    }
    .banner.sub_banner {
    height: 45.875rem;
}
.blog_page_card .what_we_offer_img_outer {
    height: 25rem;
}
.blog_page_card .what_we_offer_content h5 {
    font-size: 1.1rem;
}
.about_img_txt_content p {
    font-size: 1.1rem;
}
.blog_desc {
    padding: 2.5rem 0.625rem;
}
.blog_desc h2 {
    font-size: 1.6rem;
}
  .sport-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width:480px) {
    .banner_content h1 {
        font-size: 1.7rem;
    }

    .banner_content p {
        font-size: 1rem;
    }

    .banner {
        height: 35.875rem;
    }

    .footer-bottom p {
        font-size: 0.9rem;
    }

    .banner {
        margin: 0.625rem;
    }

    .section_heading {
        font-size: 1.7rem;
    }

    .home_start_journey_wrap p {
        font-size: 1.1rem;
    }

    .service-item h4 {
        font-size: 1.1rem;
    }

    .home_featured_img_outer {
        height: 20rem;
    }
    .banner.sub_banner .banner_content h1 {
    font-size: 1.7rem;
}
.pages_key_wrap ul li p {
    font-size: 1rem;
}
.accordion-button, .accordion-button:not(.collapsed) {
    font-size: 1.2rem;
}
.faq_img_outer {
    height: 25rem;
}
.banner.sub_banner.footer_banner {
    height: 30rem;
}
.footer-pages-content-grp h3 {
    font-size: 1.5rem;
}
.blog_page_card .what_we_offer_img_outer {
    height: 20rem;
}
.blog_page_card .what_we_offer_content h5 {
    font-size: 1rem;
}
.after_banner_text p {
    font-size: 1rem;
}
.about_img_txt_content p {
    font-size: 1rem;
}
.left_section {
    padding: 1rem;
}
.blog_desc h2 {
    font-size: 1.4rem;
}
.blog_desc_img {
    height: 25.25rem;
}
}