@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global CSS Start */
html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-break: break-word;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
    background-color: #10130f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Exo", sans-serif;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.2;
    margin-bottom: 3px;
}


a {
    display: inline-block;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

button,
textarea,
input {
    font-family: "Inter", sans-serif;
}

input {
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.py-6 {
    padding: 3.75rem 0;
}

.pt-6 {
    padding-top: 3.75rem;
}

.pb-6 {
    padding-bottom: 3.75rem;
}

.py-7 {
    padding: 4.375rem 0;
}

.pt-7 {
    padding-top: 4.375rem;
}

.pb-7 {
    padding-bottom: 4.375rem;
}

.py-8 {
    padding: 5rem 0;
}

.pt-8 {
    padding-top: 5rem;
}

.pb-8 {
    padding-bottom: 5rem;
}

.py-10 {
    padding: 6.25rem 0;
}

.pb-10 {
    padding-bottom: 6.25rem;
}

.pt-10 {
    padding-top: 6.25rem;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.m-0-auto {
    margin: 0 auto
}

.bg_center_cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_center_contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg_left_contain {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg_left_cover {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_bottom_cover {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.w_100 {
    width: 100%;
}

.h_100 {
    height: 100%;
}

.align-end {
    align-items: flex-end;
}

.bg-0-0 {
    background-position: 0% 0%;
}

/* Global CSS End */

/* Website Scrollbar CSS  */
::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #adff00;
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #adff00;
}

/* Website Scrollbar CSS  */

/* Section Heading CSS Start */
.section_heading {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4;
}

span.theme {
    color: #adff00;
}

.bold {
    font-weight: 600;
}

.bg_dark {
    background-color: #000;
}


.text_white {
    color: #fff;
}

.text_theme {
    color: #adff00;
}

.text_dark {
    color: #000000;
}

.aoshide {
    overflow: hidden;
}


/* Section Heading CSS End */

/* Button CSS Start */

/* Butn CSS Start */
.butn {
    padding: 0.625rem 1.5625rem;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid #adff00;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    border-radius: 1.875rem;
    overflow: hidden;
}

.butn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #adff00;
    transition: all 0.3s ease;
    border-radius: 1.875rem;
}

.butn:hover {
    color: #000;
}

.butn:hover:after {
    top: 0;
    height: 100%;
}

.butn:active {
    top: 2px;
}

/* Butn CSS Start */
/* Button CSS End*/

/* Header CSS Start */
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    padding: 1.875rem 0px 0.625rem 0;
}

.sticky-header.fixed_header {
    background-color: #10130f;
    padding: 0.625em 0;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.9375rem;
}

.brand-container {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.brand-container a,
.footer-logo a {
    background-image: url(../images/logo.svg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 3.75rem;
    width: 18.75rem;
}

.menu-toggle-btn {
    display: none;
    width: 2rem;
    height: 2rem;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    z-index: 60;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.navigation-menu {
    display: flex;
}

.navigation-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu ul li a {
    padding: 0.625rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    position: relative;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 1.1rem;
}

.navigation-menu ul li a:hover {
    color: #adff00;
}

.navigation-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: #adff00;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
    border-radius: 5px;
}

.navigation-menu ul li a.active {
    color: #adff00;
}

.navigation-menu ul li a.active::after,
.navigation-menu ul li a:hover::after {
    transform: scaleX(0.9);
}


.menu-close-btn {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/close.png);
}

/* Header CSS End */

/* Home Banner CSS Start */
/* Banner CSS Start */
.banner {
    height: 46.875rem;
    background-color: rgba(0 0 0/40%);
    background-blend-mode: multiply;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1.25rem;
    border-radius: 1.875rem;
}


.banner_wrap {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.banner_content h1 {
    font-size: 3.5rem;
    color: #fff;
    line-height: 1.4;
    max-width: 65.625rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
}


.banner_content p {
    font-size: 1.2rem;
    color: #fff;
    max-width: 50.625rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.banner_btns {
    display: inline-flex;
    gap: 0.9375rem;
}

/* Home Banner CSS End */



/* Home Why Us Card CSS Start */
.fantasy_card {
    position: relative;
    height: 100%;
    background: #10130f;
    border-radius: 1.875rem;
    padding: 1.25rem;
    border: 1px solid #adff00;
}

.fantasy_cards_wrap>p {
    font-size: 1.2rem;
}

.fantasy_card_img_outer {
    border-radius: 1.25rem;
    height: 18.75rem;
    overflow: hidden;
    position: relative;
}

.fantasy_card_img {
    height: 100%;
}

.fantasy_card_content {
    padding: 1.25rem 0;
}

.fantasy_card_content h4 {
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    font-size: 1.8rem;
    color: #adff00;
    text-transform: uppercase;
}

.fantasy_card_content p {
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    font-size: 1rem;
    color: #fff;
}

hr {
    color: #adff00;
    opacity: 1;
    margin: 0;
}

.common_overlay {
    position: relative;
    overflow: hidden;
}

.common_overlay .box {
    position: absolute;
    width: 50%;
    height: 50%;
    background: rgb(173 255 0/0.2);
    transition: transform 0.4s ease;
    z-index: 2;
}

.common_overlay .box1 {
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
}

.common_overlay .box2 {
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
}


.common_overlay .box3 {
    bottom: 0;
    left: 0;
    transform: translate(-100%, 100%);
}

.common_overlay .box4 {
    bottom: 0;
    right: 0;
    transform: translate(100%, 100%);
}

.common_overlay:hover .box {
    transform: translate(0, 0);
}

/* Home Why Us Card CSS End */

/* Image Text CSS Start */
.behind_bar_inner {
    max-width: 68.75rem;
    margin: 0 auto;
}

.image_txt_img_outer {
    height: 100%;
    width: 100%;
    border-radius: 1.875rem;
}

.image_txt_img {
    width: 100%;
    height: 100%;
}

.img_txt_content {
    height: 100%;
    padding: 5rem 2rem;
}

.img_txt_content h3 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.img_txt_content p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #fff;
}

/* Image Text CSS End */


/* Home Category Cards CSS Start */
.slider_img_outer {
    height: 20rem;
    width: 100%;
}

.slider_img {
    height: 100%;
    width: 100%;
}

.slick-track {
    display: flex;
    gap: 1.25rem;
    height: 100% !important;
}

.slider_content {
    padding: 1.25rem;
    text-align: center;
}

.slider_content p {
    font-size: 0.9375rem;
    min-height: 6.25rem;
}

.slider_content h3 {
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 1.5rem;
    font-weight: 600;
}

.img.slick-slide {
    padding: 1.25rem;
    border: 1px solid #adff00;
    height: 100%;
    border-radius: 1.875rem;
}

.slick-list.draggable {
    min-height: 40rem;
}

.hide {
    overflow: hidden;
}

/* Home Category Cards CSS End */


/* Home Start Journey CSS Start */
.home_start_journey_wrap {
    padding: 6rem 2rem;
    border-radius: 1.875rem;
    background-color: rgba(0 0 0/70%);
    background-blend-mode: multiply;
}

.home_start_journey_wrap p {
    font-size: 1.5rem;
}

/* Home Start Journey CSS End */

/* Home Why US CSS Start */
.service-item {
    text-align: center;
    padding: 1.875rem 2.1875rem 1.125rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: #adff00 0rem 0.1875rem 0.5rem;
    margin-bottom: 1.875rem;
    border-radius: 1.875rem;
    height: 100%;
}

.service-item:hover {
    background: #adff00;
}

.service-item:hover h4 {
    color: #000;
}

.service-item:hover p {
    color: #000;
}

.service-item h4 {
    color: #fff;
    font-size: 1.375rem;
    margin-top: 0.625rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 1.3;
    font-weight: 500;
}

.service_icon {
    width: 100%;
}

.service-item p {
    color: #707079;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.service_icons {
    height: 4rem;
    margin-bottom: 1.25rem;
}

.service_icon2 {
    display: none;
}

.service-item:hover .service_icon2 {
    display: block;
}

.service-item:hover .service_icon1 {
    display: none;
}

/* Home Why US CSS Start */



/* Home Featured CSS Start */
.home_featured_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 1.875rem;
    overflow: hidden;
    border: 1px solid #adff00;
    background-color: transparent;
    position: relative;
    height: 100%;
}

.home_featured_img_outer {
    height: 25rem;
    width: 100%;
    position: relative;
}

.home_featured_img {
    height: 100%;
    width: 100%;
}

.home_featured_card h5 {
    padding: 1rem;
    text-align: center;
    color: #fff;
    line-height: 1.3;
    font-weight: 500;
    width: 100%;
    font-size: 1.1rem;
    min-height: 5rem;
}


/* Home Featured CSS End */


/* Newsletter CSS Start */
.newsletter-section .row {
    max-width: 43rem;
}

.newsletter-wrap input {
    width: 80%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0.6235rem;
    color: #fff;
}

.newsletter-wrap input::placeholder {
    color: #fff;
    opacity: 1;
}

.newsletter-wrap input:focus::placeholder {
    color: #adff00;
}

.newsletter-wrap input:focus {
    border-bottom: 1px solid #adff00;
}

.newsletter-wrap input::-ms-input-placeholder {
    color: #fff;
}

.newsletter-wrap p {
    color: #fff;
    font-size: 1.2rem;
}

.newsletter-wrap h3 {
    line-height: 1.3;
}

/* Newsletter CSS End */


/* footer start  */
.site-footer {
    color: #fff;
    background-color: rgba(0 0 0/90%);
    background-blend-mode: multiply;
}

.footer-logo p {
    font-size: 1.2rem;
    color: #ffffffdb;
    font-weight: 400;
    margin: 0;
}

.footer-logo a {
    margin-bottom: 1.25rem;
}


.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.9375rem;
}

.footer-top h5 {
    font-size: 1.25rem;
    margin-bottom: 1.875rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
}

.footer-links {
    padding-left: 3.75rem;
    border-left: 1px solid rgb(173 255 0/50%);
}

.footer-contact {
    padding-left: 3.125rem;
    border-left: 1px solid rgb(173 255 0/50%);
}

.footer-links li a,
.footer-contact li {
    color: #ffffffdb;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.24px;
    margin-bottom: 0.9375rem;
    transition: all 0.2s linear;
}

.footer-links li a:hover,
.footer-contact li:hover {
    color: #adff00;
}

.footer-contact li i {
    margin-right: 0.625rem;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(173 255 0/60%);
    padding-top: 2.1875rem;
    margin-top: 2.1875rem;
}

.footer-bottom p {
    color: #fff;
}

.social-icons ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 10.375rem;
}

.social-icons li a {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    transition: all 0.2s linear;
    padding: 0.625rem;
}

.social-icons li a:hover {
    transform: translateY(-4px);
    border-color: #adff00;
}

.footer-top h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #adff00;
    text-transform: uppercase;
}

.ssl_logo {
    height: 3.75rem;
    width: 8.75rem;
}

.ssl_logo_inner {
    height: 100%;
    width: 100%;
}

.social-icons li a svg {
    height: 100%;
    width: 100%;
    fill: #fff;
}

.social-icons li a:hover svg {
    fill: #adff00;
}

.footer-logo h4 {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 20.625rem;
    line-height: 1.3;
}

/* footer end  */



/* NFL CSS Start */
.banner.sub_banner .banner_content h1 {
    font-size: 2.5rem;
    max-width: 50.625rem;
}

.banner.sub_banner .banner_content p {
    font-size: 1rem;
    font-weight: 500;
}

.banner.sub_banner {
    height: 40.875rem;
}

.banner.sub_banner .banner_wrap {
    margin-top: 5rem;
}

.pages_brand_sec table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pages_brand_sec th,
.pages_brand_sec td {
    border: 1px solid #000;
    padding: 0.625rem;
    text-align: center;
}

.pages_brand_sec td {
    border: 1px solid #adff00;
    color: #fff;
}

.pages_brand_sec th {
    background: #adff00;
    color: #000;
}

.pages_brand_sec td:first-child {
    text-align: left;
}

.pages_brand_sec a {
    color: #adff00;
    text-decoration: none;
    font-weight: bold;
}

.pages_brand_sec .stars {
    color: gold;
    font-size: 1rem;
}

.pages_brand_sec .free {
    color: #06ff06;
    font-weight: bold;
}

.pages_brand_sec .paid {
    color: red;
    font-weight: bold;
}

.pages_key_wrap ul li {
    margin-left: 1.2rem;
    list-style-type: disc;
}

.pages_key_wrap ul li p {
    font-size: 1.1rem;
}

.pages_key_wrap ul li::marker {
    color: #adff00;
}

.pages_our_picks_sec .service-item p,
.feature_deep_dive .service-item p {
    color: #fff;
    margin-top: 0.9375rem;
}

.pages_our_picks_sec .service-item:hover p,
.feature_deep_dive .service-item:hover p {
    color: #000;
}

.platform_review_content {
    padding: 3rem 0;
}

.platform_img_outer {
    height: 100%;
    width: 100%;
    border-radius: 1.875rem;
}

.platform_img {
    height: 100%;
    width: 100%;
}

.platform_review_cards {
    box-shadow: #adff00 0px 3px 8px;
    margin-bottom: 3rem;
    border-radius: 1.875rem;
    padding: 2rem 1.25rem;
}

.accordion-button,
.accordion-button:not(.collapsed) {
    background: #adff00;
    color: #000;
    font-size: 1.5rem;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}


.faq_img_outer {
    height: 100%;
    width: 100%;
    border-radius: 1.875rem;

}

.faq_img {
    height: 100%;
    width: 100%;
}

.faq_img_outer:hover .common_overlay {
    transform: translate(-50%, -50%) scale(1);
}

.accordion-item {
    margin-bottom: 0.625rem;
    border: 1px solid #000;
}

.accordion-body p {
    font-size: 1rem;
    font-weight: 500;
}

/* NFL CSS End */

/* Footer Pages CSS Start */
.banner.footer_banner {
    height: 35.875rem;
}

.banner.footer_banner .banner_wrap {
    margin-top: 0;
}

.footer-pages-wrap {
    max-width: 81.25rem;
    margin: 0 auto;
    border-radius: 1.875rem;
    position: relative;
    z-index: 99;
    padding: 1.875rem;
}

.footer-pages-content-grp {
    margin-bottom: 1.2rem;
    border-radius: 0.625rem;
}

.footer-pages-content-grp:last-child {
    margin-bottom: 0;
}

.footer-pages-content-grp h3 {
    font-size: 1.7rem;
    margin-bottom: 0.9375rem;
    color: #adff00;
    line-height: 1.4;
}

.footer-pages-content-grp strong {
    font-size: 1.125rem;
}

.footer-pages-content-grp p {
    font-size: 1.0625rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.footer-pages-content-grp ul {
    list-style: none;
    padding-left: 1.25rem;
}

.footer-pages-content-grp ul li {
    list-style-type: disc;
    font-size: 1.0625rem;
    margin-bottom: 0.5rem;
    color: #fff;
    font-weight: 500;
}

.footer-pages-content-grp ul li::marker {
    color: #adff00;
}

.footer-pages-content-grp p a {
    display: inline-block;
    transition: 0.4s all ease-in-out;
    text-underline-offset: 0.25rem;
    font-weight: 600;
}

.footer-pages-content-grp p a:hover {
    text-decoration: underline;
}

.footer-pages-content-grp.ft_diff {
    background: #191919;
    width: max-content;
    padding: 1.25rem;
}

.footer-pages-content-grp.ft_diff p {
    color: #fff;
}

.footer-pages-content-grp a {
    color: #adff00;
}

/* Footer Pages CSS End */

/* Contact CSS Start */
.right_section input,
.right_section textarea {
    border: none;
    border-bottom: 1px solid #919191;
}

.right_section input:focus,
.right_section textarea:focus{
    outline: none;
    box-shadow: none;
    border-color: black;
}


.right_section .butn {
    color: #000;
    border-color: #000;
      }
.right_section .butn:hover {
    border-color: #adff00;
}
.contact-info-box {
    background: #fff;
    padding: 1.25rem 1.5625rem;
    border-left: 5px solid #adff00;
    margin-bottom: 1.25rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 41%);
    border-radius: 1.875rem;
}

.contact-info-box i {
    color: #adff00;
    margin-right: 0.625rem;
}

.contact-info-box a {
    color: #000;
    text-decoration: none;
}

.form-control {
    border-radius: 0;
}


.contact-info-box svg {
    width: 1.5625rem;
    height: 1.5625rem;
}

.left_section {
    box-shadow: #adff00 0px 3px 8px;
    padding: 1.25rem;
    border-radius: 1.875rem;
    height: 100%;
    background: #fff;
}

.right_section {
    box-shadow: #adff00 0px 3px 8px;
    padding: 1.25rem;
    border-radius: 1.875rem;
    height: 100%;
    background: #fff;
}

.outdoor_content .row .col-lg-6 {
    padding: 0;
}

.second_heading h5 {
    color: #000;
    font-size: 1.5625rem;
    line-height: 1.2;
}

.right_section p {
    color: #000;
    font-size: 1rem;
    line-height: 1.5rem;
}

.contact_end p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.contact_heading h5 {
    color: #fff;
    font-size: 27px;
    line-height: 25px;
    font-weight: 500;
}

/* Contact CSS End */


/* about page css start */

/* after banner css start */

.after_banner_text {
    border: 1px solid #fff;
    padding: 1.25rem;
    box-shadow: #adff00 1.95px 1.95px 2.6px;
    transition: all 0.3s ease-in-out;
    height: 100%;
    border-radius: 1.875rem;
}

.after_banner_text:hover {
    transform: translateY(-7px);
    border: 1px solid #adff00;
}

/* About CSS Start */

.after_banner_text p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.about_img_txt_content h2 {
    font-size: 2rem;
    color: #adff00;
    margin-bottom: 1.25rem;
    line-height: 2rem;
    line-height: 1.4;

}

.about_img_txt_content {
    height: 100%;
    padding: 5rem 2rem;
}

.about_img_txt_content ul li {
    position: relative;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 0.9375rem;
    padding-left: 1.875rem;
}

.about_img_txt_content ul li::before {
    position: absolute;
    content: ".";
    font-size: 3.75rem;
    left: -1px;
    top: -18px;
}

.about_img_txt_content p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

/* About CSS End */

/* blog page css start */


.img_txt_content h2 {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
}

/* Blog Page CSS Start */
.blog_page_card {
    display: block;
}

.blog_page_cards_sec .row {
    max-width: 68.75rem;
    margin: 0 auto;
}

.blog_page_card .what_we_offer_content h5 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 1.1rem;
}

.home_what_we_offer_card.blog_page_card::before {
    background: #fff;
}

.blog_page_card .what_we_offer_img_outer {
    height: 25rem;
}

.home_what_we_offer_card:hover .what_we_offer_content h5 {
    color: #adff00;
}

.home_what_we_offer_card:hover {
    transform: translateY(-3px);
}

.home_what_we_offer_card {
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: 0.1s all linear;
}

.home_what_we_offer_card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    border-radius: 1.875rem;
}

.what_we_offer_img_outer {
    height: 21.875rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1.875rem;
}

.what_we_offer_img {
    height: 100%;
    width: 100%;
}

.common_overlay_second .box1 {
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
}

.common_overlay_second .box {
    position: absolute;
    width: 50%;
    height: 50%;
    background: rgb(173 255 0 / 0.2);
    ;
    transition: transform 0.4s ease;
    z-index: 2;
}

.common_overlay_second .box2 {
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
}

.common_overlay_second:hover .box {
    transform: translate(0, 0);
}

.common_overlay_second .box3 {
    bottom: 0;
    left: 0;
    transform: translate(-100%, 100%);
}

.common_overlay_second .box4 {
    bottom: 0;
    right: 0;
    transform: translate(100%, 100%);
}

.what_we_offer_content {
    padding: 1.25rem 0;
}

.home_what_we_offer_card::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #adff00;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
    border-radius: 1.875rem;
}

/* Blog Page CSS End */


/* Blog Description Pages CSS Start */

.blog_desc strong{
    color: #adff00;
}
.blog_desc_img {
    height: 31.25rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1.875rem;
    position: relative;
}

.blog_desc {
    padding: 2.5rem 1.875rem;
    border-radius: 20px;
    box-shadow: #adff00 0px 3px 8px;
    background: #111111;
}

.blog_desc p {
    color: #313131;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
}

.blog_desc ul li {
    list-style-type: disc;
    margin-left: 1rem;
}

.blog_desc li::marker {
    color: #adff00;
}

.blog_desc ul li p {
    line-height: 1;
}

.blog_desc h3 {
    font-size: 1.5rem;
    color: #adff00;
}

.blog_desc h2 {
    font-size: 2rem;
    color: #adff00;
    line-height: 1.3;
}
.blog_description_sec {
    margin-top: 5rem;
}
/* Blog Description Pages CSS End*/


